*{
	padding:0;
    margin:0;
}
#main{
	position:relative;
	width:1050px;
	margin:auto;
}
.box{
	padding:10px 0 0 10px;
	float:left;
	position:absolute;
}
.pic img{
	width:198px;
	border:1px solid gray;
	border-radius:2%;
	box-shadow:0 0 2px gray;
}
